<div class="notification_form">
  <% if @notification.errors.present? %>
    <ul>
      <% @notifcation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

   <%= form_with model: @notification, local: true do |f| %>
    <div class="form_group">
      <div>
        <%= f.label "タイトル" %>
      </div>
      <div>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="form_group noti_input">
      <div>
        <%= f.label "内容" %>
      </div>
      <div>
        <%= f.text_field :body%>
      </div>

    </div>
      <%= f.submit '投稿' %>
    <% end %>
</div>
